DB_HOST=localhost
DB_PORT=3306
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=your_database_name

DESA_KODE=your_village_code
WEBHOOK_TOKEN=your_secure_webhook_token

# URL tujuan webhook (Receiver)
WEBHOOK_URL=http://localhost:3000/api/webhook

WEBHOOK_TIMEOUT=10000
MAX_RETRY=5
POLL_INTERVAL=3000